{% extends "base.html.twig" %}

{% block title %} Module de Matériel {% endblock %}


{% block body %} 
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur le module de matériel</h1>
            <p class="lead">Premier projet sur Symfony.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir plus</a>
        </div>
    </div>
{% endblock %}

